
__pycache__/*
*.json
docs
raremaps.py
quickstart.py
gentable
__pycache__/test_mapname_filename_match.cpython-310.pyc
*.pyc
python/__pycache__/test_mapname_filename_match.cpython-310.pyc
python/__pycache__/sheetdata.cpython-310.pyc
python/__pycache__/other_maps_gen.cpython-310.pyc
python/__pycache__/css_maps_gen.cpython-310.pyc
*.pyc
python/__pycache__/css_maps_gen.cpython-310.pyc
python/__pycache__/other_maps_gen.cpython-310.pyc
python/__pycache__/sheetdata.cpython-310.pyc
python/__pycache__/test_mapname_filename_match.cpython-310.pyc
*.pyc
