.collapsible {
    background-color: rgb(151, 151, 151);
    color: white;
    cursor: pointer;
    padding: 7px;
    width: 90%;
    border: line-width=1px;
    border-style: solid;
    border-color:rgb(82, 82, 82);
    text-align: left;
    outline: none;
    margin: 1px;
    font-size: 15px;
    padding-left: 2%;
    padding-right 2%
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 1px;
    display: none;
    overflow: hidden;
    width: 90%;
    
    margin-left: 5%;
    background-color: #f1f1f1;
  }

  body {
    background-color: #777;
  }

  h1 {
    color:black;
    padding-left: 4%;
  }

  h3 {
    color:black;
    padding-left: 4%;
  }

  img {
    width: 100%;
    padding-right: 4%;
    box-sizing: border-box; /* Ensure padding is included within the width */
    max-width: 100%; /* Prevent image from exceeding its original size */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra space below the image */
  }
  
  p {
    padding-left: 4%;
  }

  table {
    align-self: left;
    padding-left: 3%;
    width: 75%;
  }

  th {
    color: black;
    align-items: left;
    align-content: left;
    align-self: left;
    padding-right: 20%;
  }

  td {
    vertical-align: top;
    width: 50%;
  }