.collapsible {
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: 7px;
  width: 90%;
  border: line-width=1px;
  border-style: solid;
  border-color: #333;
  text-align: left;
  outline: none;
  margin: 1px;
  font-size: 15px;
  padding-left: 2%;
  padding-right: 2%;
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden; /* Hides the overflowed content */
  text-overflow: ellipsis; /* Adds the ellipsis (...) when text overflows */
}
.active, .collapsible:hover {
  background-color: #555;
  border: line-width=1px;
  border-style: solid;
  border-color: #222;
}
.content {
  padding: 1px;
  display: none;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  background-color: rgb(185, 185, 185);
  border: line-width=1px;
  border-style: solid;
  border-color: #777;
}
html {
  background-color: #999;
}
h1, h3, p {
  color:black;
  padding-left: 3%;
  text-align: left;  /* Aligns the text to the left */
  width: 90%; /* Adjust this percentage based on how wide you want the content */
  margin: 0 auto; /* Centers the element itself horizontally */
  padding-top: 8px;
  padding-bottom: 8px;
}
img {
  width: 100%;
  padding-right: 4%;
  box-sizing: border-box;
 /* Ensure padding is included within the width */
  max-width: 100%;
 /* Prevent image from exceeding its original size */
  height: auto;
 /* Maintain the image's aspect ratio */
  display: block;
 /* Remove any extra space below the image */
}
p {
  padding-left: 4%;
}
table {
  align-self: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  width: 90%;
  table-layout: fixed;
}
th {
  color: black;
  align-items: left;
  align-content: left;
  align-self: left;
  padding-right: 20%;
}
td {
  vertical-align: top;
  width: 50%;
}


/* this is all styling for the modal image stuff */
* {
  box-sizing: border-box;
}
.ImgThumbnail {
  cursor: pointer;
  transition: 0.3s;
  width: 90% 
}
.ImgThumbnail:nth-of-type(1) {
  margin-left: 1%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}
.modalImage {
  margin: auto;
  display: block;
  padding-left: 3%;
  max-width: 80%;
  max-height: 80% 
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.close:hover, .close:focus {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .modalImage {
      width: 100%;
 }
